<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col" *ngFor="let item of productos">
    <div class="card">
      <img
        [src]="item | imagenes"
        class="card-img-top"
        alt="..."
        style="height: 200px"
      />
      <div class="card-body">
        <h5 class="card-title text-center">{{ item.nombre }}</h5>
        <p class="card-text">
          {{ item.precio }}
        </p>
        <p class="card-text">
          {{ item.valor_energetico }}
        </p>
        <button
          class="btn btn-primary"
          style="width: 100%"
          (click)="agregarCarrito(item)"
        >
          Agregar al Carrito
        </button>
      </div>
    </div>
  </div>
</div>
